html {
    width: 95%;
    padding: 10px;
    margin: 2px;
    background-color: aliceblue;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

#nameInResume {
    font-family: 'Lobster', cursive;
    width: 95%;
    background-color: black;
    color: white;
    font-size:40px;
    text-align: left;
    margin: 0;
    padding-left: 5px;
    }

p {
    font-size: 14px;
    margin: 0;
    margin-top: 5px;
}

.heading-skills {
    font-family: 'Lobster', cursive;
    width: 95%;
    background-color: black;
    color: white;
    font-size:25px;
    text-align: left;
    margin: 0;
    padding-left: 5px;
}

.heading-skill-type {
    font-family: 'Lobster', cursive;
    width: 95%;
    background-color: black;
    color: white;
    font-size:18px;
    text-align: left;
    margin: 0;
    padding-left: 5px;    
}

.skill-desc {
    width: 95%;
    text-align: justify;
}
