html {
    background-color: whitesmoke;
}

h1 {
    color: lightblue;
}

p {
    color: lightslategray;
    padding: 20px;
    border: dashed 1px lightsalmon;
    border-collapse: collapse;
    border-radius: 10px;
    letter-spacing: 1px;
    margin: 2px auto;
}
