html {
    background-color: whitesmoke;
    padding: 20px;
    margin: 5px;
}

h1 {
    color: lightblue;
    margin: 0;
}

p {
    color: lightslategray;
    width: 400px;
    border: dashed 1px lightsalmon;
    border-radius: 5px;
    letter-spacing: 1px;
}

#count {
    color: red;
    text-align: center;
    font-size: 250px;
    width: 31%;
}
